
:host {
	$poppins: 'Poppins', sans-serif;
	$lato: 'Lato', sans-serif;

	$light: #F9F9F9;
	$blue: #3C91E6;
	$light-blue: #CFE8FF;
	$grey: #eee;
	$dark-grey: #AAAAAA;
	$dark: #342E37;
	$red: #DB504A;
	$yellow: #FFCE26;
	$light-yellow: #FFF2C6;
	$orange: #FD7238;
	$light-orange: #FFE0D3;

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	a {
		text-decoration: none;
	}

	li {
		list-style: none;
	}

	.vh-93 {
		height: 93vh !important;
	}

	.utilisateurConnecte i.pi-user {
		color: #ffffff;

	}

	.utilisateur-nom{
		color : white;
	}

		/* SIDEBAR */

	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		width: 250px;
		height: 100%;
		background: #ffffff;
		z-index: 2000;
		font-family: $lato;
		transition: .3s ease;
		overflow-x: hidden;
		scrollbar-width: none;
	}

	.sidebar:state(webkit-scrollbar) {
		display: none;
	}

	.sidebar.hide {
		width: 60px;
	}

	.sidebar .brand {
		font-size: 24px;
		font-weight: 700;
		height: 56px;
		display: flex;
		align-items: center;
		color: $blue;
		position: sticky;
		top: 0;
		left: 0;
		z-index: 500;
		padding-bottom: 20px;
		box-sizing: content-box;
	}

	.sidebar .brand .pi {
		min-width: 60px;
		display: flex;
		justify-content: center;
	}

	.sidebar .side-menu {
		width: 100%;
		margin-top: 30px;
	}

	.sidebar .side-menu li {
		height: 48px;
		background: transparent;
		border-radius: 50px 0 0 50px;
		margin: 8px 8px 15px 8px;
	}

	.sidebar .side-menu li a {
		width: 100%;
		padding-bottom: 6px;
		padding-top: 6px;
		padding-left: 5px;
		display: flex;
		align-items: center;
		font-size: 14px;
		color:#000;
		white-space: nowrap;
		overflow-x: hidden;
		border: none;
		border-radius: 5px;
	}

	.sidebar.hide .side-menu li a {
		width: calc(48px - (4px * 2));
		transition: width .3s ease;
	}

	.sidebar .side-menu li a.logout {
		color: $red;
	}

	.sidebar .side-menu.top li a:hover {
		color:rgb(51, 102, 255);
		background: rgb(227, 242, 253);
		font-weight: 500;
		font-size:14px;
		box-shadow: 1px 3px 0 rgba(0, 0, 0, 0.2);

		.pi {
			color: rgb(51, 102, 255);
			box-shadow: none;
		}
	}

	.sidebar .side-menu li a .pi {
		min-width: calc(50px  - ((4px + 6px) * 2));
		display: flex;
		justify-content: center;
		//background: $light;
		padding: 8px;
		color: #2d2d2d;
		margin-right: 10px;
		border-radius: 5px;
		font-size: 11.8px;
		box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);

	}

	.sidebar .side-menu li .active {
		color: rgb(51, 102, 255);
		background-color: rgb(227, 242, 253);
		font-weight: 500;
		font-size:14px;
		box-shadow: 1px 3px 0 rgba(0, 0, 0, 0.2);
		.pi {
			color: rgb(51, 102, 255);
			box-shadow: none;
		}
	}

	/* SIDEBAR */


	/* CONTENT */
	.content {
		background-color: #FFFFFF;
		position: relative;
		width: calc(100% - 250px);
		left: 250px;
		top: 0;
		transition: .3s ease;
		z-index: 2000;
		font-family: $lato;
		transition: .3s ease;
		overflow-x: hidden;
		scrollbar-width: none;
	}

	.content.fullwidth {
		width: 100% !important;
		left: 0 !important;
	}

	.sidebar.hide ~ .content {
		width: calc(100% - 60px) !important;
		left: 60px !important;
	}

	/* NAVBAR */
	.content nav {
		height: 60px;
		background: rgb(51, 102, 255);
		padding: 0 24px;
		display: flex;
		align-items: center;
		grid-gap: 24px;
		font-family: $lato;
		position: sticky;
		top: 0;
		left: 0;
		z-index: 1000;
	}

	.content nav::before {
		content: '';
		position: absolute;
		width: 40px;
		height: 40px;
		bottom: -40px;
		left: 0;
	}

	.content nav a {
		color: $dark;
	}

	.content nav .pi.pi-menu {
		cursor: pointer;
		color: $light;
	}

	.content nav .nav-link {
		font-size: 16px;
		transition: .3s ease;
	}

	.content nav .nav-link:hover {
		color: $blue;
	}

	.content nav form {
		max-width: 400px;
		width: 100%;
		margin-right: auto;
	}

	.content nav form .form-input {
		display: flex;
		align-items: center;
		height: 36px;
	}

	.content nav form .form-input input {
		flex-grow: 1;
		padding: 0 16px;
		height: 100%;
		border: none;
		background: $grey;
		outline: none;
		width: 100%;
		color: $dark;
	}

	.content nav form .form-input button {
		width: 36px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #27265f;
		color: $light;
		font-size: 18px;
		border: none;
		outline: none;
		cursor: pointer;
	}

	.content nav .notification {
		font-size: 20px;
		position: relative;
	}

	.content nav .notification .num {
		position: absolute;
		top: -6px;
		right: -6px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 2px solid $light;
		background: $red;
		color: $light;
		font-weight: 700;
		font-size: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.content nav .profile img {
		width: 36px;
		height: 36px;
		object-fit: cover;
		border-radius: 50%;
	}

	.content nav .switch-mode {
		display: block;
		min-width: 50px;
		height: 25px;
		border-radius: 25px;
		background: $grey;
		cursor: pointer;
		position: relative;
	}

	.content nav .switch-mode::before {
		content: '';
		position: absolute;
		top: 2px;
		left: 2px;
		bottom: 2px;
		width: calc(25px - 4px);
		background: $blue;
		border-radius: 50%;
		transition: all .3s ease;
	}

	.content nav #switch-mode:checked + .switch-mode::before {
		left: calc(100% - (25px - 4px) - 2px);
	}
	/* NAVBAR */


	/* MAIN */
	.content main {
		width: 100%;
		padding: 36px 24px;
		font-family: $poppins;
		max-height: calc(100vh - 100px);
		background: #fff;

		overflow-y: auto;
	}

	.content main .head-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		grid-gap: 16px;
		flex-wrap: wrap;
	}

	.content main .head-title .left h1 {
		font-size: 36px;
		font-weight: 600;
		margin-bottom: 10px;
		color: $dark;
	}

	.content main .head-title .left .breadcrumb {
		display: flex;
		align-items: center;
		grid-gap: 16px;
	}

	.content main .head-title .left .breadcrumb li {
		color: $dark;
	}

	.content main .head-title .left .breadcrumb li a {
		color: $dark-grey;
		pointer-events: none;
	}

	.content main .head-title .left .breadcrumb li a.active {
		color: $blue;
		pointer-events: unset;
	}

	.hover-bg:hover{
		background: red !important;
		color: #FFFFFF;
	}

	img.favicon-logo {
		width: 60px;
	}

	::ng-deep {
		.p-sidebar-icon {
			z-index: 999999;
			margin-top: -8px;
			background: #f6e9e9 !important;
		}

		.p-sidebar-left {
			top: 0;
			left: 0;
			width: 15rem;
		}
	}

	@media only screen and (max-width: 768px) {
		/* For mobile phones: */
		.utilisateurConnecte{
			display: none !important;
		}
		.p-4{
			padding:10px !important;
		}

		.content main {
			padding: 10px !important;
		}
	}
}




