:root {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
	Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
	"Segoe UI Symbol";

	--primary-black: #1A1A1A;
	--primary-blue: #26C4EC;
	--primary-gray: #dedede;
	--primary-red: #FF0000;
	--primary-white: #ffffff;
	--primary-orange: #e36d1e;
	--primary-green: #008000;

	--dark-blue: #22427C;
	--dark-gray: #aaaaaa;
	--dark-orange: #CC5500;

	--light-gray: #efefef;
	--light-blue: #b6ffff;

	--modal-overlay: #0000004C;
}
