<section class="acte-question-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="acte-reasons text-center">
                    <h2 class="font-weight-bold">
                        <strong>Pourquoi faire une demande de copie d'acte ?</strong>
                    </h2>
                    
                    <ul class="mb-4">
                        <li>Obtenir d'autres attestations d'identité</li>
                        <li>Réaliser des démarches administratives</li>
                        <li>Effectuer des démarches déclaratives</li>
                        <li>Entreprendre une procédure judiciaire</li>
                    </ul>
                    
                    <div class="mt-4">
                        <a href="" class="btn btn-acte-question animate-up-1 text-white">
                            Faire une demande de copie d'acte maintenant
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>